body {
    background-color: antiquewhite;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color:burlywood;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

footer {
    background-color:burlywood;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: px;
}